.sidebar-content-container {
  width: 25vw;
  height: calc(100vh - 4.5rem);
  box-shadow: 1px 0 0 0 #dcdcdc;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-content-container.home {
  align-items: flex-start;
  padding-top: 0;
}

.sidebar-content-container p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
