.sidebar-content-container {
  width: 25vw;
  height: calc(100vh - 4.5rem);
  box-shadow: 1px 0 0 0 #dcdcdc;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-content-container.home {
  align-items: flex-start;
  padding: 0;
}

.sidebar-content-container p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.matches-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.matches-container.discover {
  height: calc(100vh - 4.5rem);
}

.matches-block {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.matches-block:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.matches-box.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #282828;
}

.matches-container h1 {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 1.5rem;
}

.matches-box.name {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  padding: 0;
}

.matches-discover-container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-desktop {
  color: rgba(69, 70, 80, 0.3);
}

.matches-discover-container h1 {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0;
}

.desktop-box {
  padding: 1rem;
}

.matches-discover-container.matches-discover-content p {
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}
