.main-content-container.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #454650;
}

.home-content-container {
  width: 62vw;
  height: 42vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.home-content-block {
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  gap: 1px;
  /* border-radius: 1rem; */
}

.home-content-card {
  display: flex;
  height: 42vw;
  width: 100%;
}

.home-content-card-split {
  width: 31vw;
  height: 100%;
}

.home-content-img {
  width: 100%;
  height: 100%;
}

/* .home-content-card-split.left {
  border-radius: 1rem 0 0 1rem;
} */

.home-content-card-split.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  /* border-radius: 0 1rem 1rem 0; */
  background-color: #fff7d8;
}

/* .home-content-card-split img {
  border-radius: 1rem 0 0 1rem;
} */

.home-content-card h3 {
  font-weight: 800;
}

.home-content-breed {
  margin: 0;
  font-weight: 600;
  font-size: 0.875rem;
}

.home-content-card-nonsplit {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff7d8;
  color: #454650;
}

.home-content-card-nonsplit-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.home-content-about-block {
  display: flex;
  align-items: center;
  gap: 6px;
}

.home-content-about-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  padding-top: 1px;
  border-radius: 50%;
  color: white;
  background-color: #454650;
}

.home-content-about {
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0;
}

.home-content-description {
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
}

.home-content-card-nonsplit img {
  width: 100%;
  height: 100%;
}

.home-button-container {
  position: relative;
  width: 100%;
}

.home-button-block {
  display: flex;
  gap: 0.75rem;
  bottom: 25vh;
  position: absolute;
  bottom: -2.5rem;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.home-button-box {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button-box button {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: white;
  cursor: pointer;
}

.like-button {
  color: #ffc629;
}

.block-button {
  color: #454650;
}
