.main-content-container.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content-container {
  width: 62vw;
  height: 42vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.home-content-block {
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  gap: 1px;
  /* border-radius: 1rem; */
}

.home-content-card {
  display: flex;
  height: 42vw;
  width: 100%;
}

.home-content-card-split {
  width: 31vw;
  height: 100%;
}

.home-content-img {
  width: 100%;
  height: 100%;
}

/* .home-content-card-split.left {
  border-radius: 1rem 0 0 1rem;
} */

.home-content-card-split.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  /* border-radius: 0 1rem 1rem 0; */
  background-color: #fff7d8;
}

/* .home-content-card-split img {
  border-radius: 1rem 0 0 1rem;
} */

.home-content-card h3 {
  font-weight: 800;
}

.home-content-card p {
  margin: 0;
  font-weight: 600;
  font-size: 0.875rem;
}

.home-content-card-nonsplit {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff7d8;
}

.home-content-card-nonsplit img {
  width: 100%;
  height: 100%;
}
