.profile-image-container {
  /* border: 1px solid red; */
  height: calc((46vw - 4rem) / 3 * 2);
}

.profile-upload {
  display: none;
}

.upload-image-label {
  width: 100%;
}

.upload-image-grid-container {
  width: 100%;
  max-height: 100%;

  border-radius: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, calc((46vw - 4rem) / 3));
  grid-template-areas:
    "left left right-top"
    "left left right-bottom";
  gap: 0.3rem;
}

.profile-img-grid-item:nth-child(1) {
  grid-area: left;
}

.profile-img-grid-item:nth-child(2) {
  grid-area: right-top;
}

.profile-img-grid-item:nth-child(3) {
  grid-area: right-bottom;
}

.profile-img-grid-item {
  border: 1px solid #dcdcdc;
  place-self: stretch stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  padding: 0.5rem;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
