.auth-container,
.user-button-container,
.user-form-divider-block,
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container {
  padding-top: 1.5rem;
  row-gap: 6rem;
}

.auth-container .nav-block-logo {
  padding-top: 0.3rem;
}
.auth-container .nav-block-logo p {
  font-size: 2.25rem;
}

.auth-container h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

.user-button-container {
  row-gap: 0.8rem;
  padding-top: 2rem;
}

.user-button-container button {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 0.5rem 1.25rem;
  outline: none;
  border-radius: 1.25rem;
  width: 16rem;
  color: white;
}

.apple-button {
  border: 1px solid black;
  background-color: black;
}

.facebook-button {
  border: 1px solid #1778f2;
  background-color: #1778f2;
}

.user-button-container span {
  padding-left: 1rem;
}

.user-form-divider {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.user-form-divider span {
  color: #767676;
  font-size: 0.8rem;
  padding: 0 0.5rem;
}

.divider-line {
  width: 5rem;
  height: 1px;
  border: 0.5px solid #dcdcdc;
}

.user-form {
  row-gap: 1rem;
}

.user-form ul {
  padding: 0;
  margin: 0;
}

.user-form p {
  margin: 0;
  color: #767676;
  font-size: 0.8rem;
}

.user-form input {
  width: 24rem;
  border: 1px solid #ffc629;
  border-radius: 1.25rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.user-form button {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffc629;
  border: 1px solid #ffc629;
  border-radius: 1.25rem;
  padding: 0.3rem 1.25rem;
}

.user-form ul {
  color: red;
}
