.main-content-container {
  height: calc(100vh - 4.5rem);
  overflow-y: scroll;
}

.profile-form {
  width: 46vw;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.profile-form-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.profile-label {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  padding-left: 1.25rem;
}

.profile-input {
  height: 2.5rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  background-color: transparent;
  padding: 0 1.25rem;
  border: 1px solid #dcdcdc;
  border-radius: 1.25rem;
}

.profile-label.gender,
.profile-label.size {
  font-size: 1rem;
  padding-left: 0.8rem;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
}

.checkbox-container.gender .checkbox-block {
  width: 12vw;
}
.checkbox-container.size .checkbox-block {
  width: 10vw;
}

.checkbox-block.profile-input {
  display: flex;
  align-items: center;
  padding: 1.25rem 0;
}
.checkbox-block label span {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
}

.profile-checkbox {
  opacity: 0;
}

.profile-checkbox:checked + .checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid #ffc629;
  background-color: #ffc629;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-checkbox:not(:checked) + .checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-dropdown {
  min-width: 100%;
  position: relative;
}

.profile-dropdown-menu {
  position: absolute;
  width: 100%;
  height: 12.7rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0;
  border: 1px solid #dcdcdc;
  border-radius: 1.25rem;
  background-color: white;
}
.profile-dropdown-menu-inner {
  height: 11.5rem;
  overflow-y: scroll;
  background-color: white;
}

.profile-form-block.dropdown button {
  text-align: start;
  width: 100%;
}

.profile-dropdown-menu button {
  background-color: transparent;
  height: 2rem;
  line-height: 2;
  padding: 0 1rem;
  outline: none;
  border: 1px solid transparent;
}

.profile-dropdown-menu button:hover {
  background-color: rgb(176, 176, 176, 0.2);
}

.profile-dropdown-menu-inner .highlight-true {
  color: #ffc629;
}

.profile-textarea {
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: 1.25rem;
  resize: none;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  outline: none;
}

.profile-textarea:focus,
.profile-text-input:focus {
  border: 1px solid #ffc629;
}

.profile-delete-block {
  border: 2px solid #ffc629;
}

.profile-submit-block {
  background-color: #ffc629;
  border: 1px solid #ffc629;
}

.profile-submit-button,
.profile-delete-button {
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.profile-submit-button {
  color: white;
}
