.sidebar-logout-button {
  width: 100%;
  height: fit-content;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #767676;
  border: none;
  border-radius: 4rem;
  background-color: transparent;
  padding: 0.75rem;
}

.sidebar-logout-button:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.logout-model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.logout-model-container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

.logout-model-button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding-top: 2rem;
}

.logout-model-button {
  width: 6.125rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.875;
  padding: 0.3125rem 1.25rem;
  border: none;
  border-radius: 1.25rem;
  outline: none;
}

.logout-model-button.logout {
  background-color: #ffc629;
  color: white;
}

.logout-model-button.cancel {
  color: #ffc629;
  background: white;
}

.logout-model-button.logout:hover {
  background-color: #e6b225;
}

.logout-model-button.cancel:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
